@use "@/styles" as *;

$indicator-border-width: calc($border-size / 2);

.container {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    gap: $gap !important;
}

.indicator {
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all $transition;
    background-color: transparent;
    border: solid $indicator-border-width $primary;

    &.checked {
        background-color: $primary;
        border: solid $indicator-border-width $secondary;
    }
}

.radio {
    display: none;
}
