@use "@/styles" as *;

.text {
    margin-left: 10%;
}

.links-container {
    max-height: 100%;
    padding: $padding;
    display: flex;
    direction: row;
    align-items: center;
    gap: $gap;
}

.link-item {
    display: block;
    max-height: 100%;

    & > a {
        text-decoration: none;
    }
}

.user-details-container {
    background-color: $background-lightened;
    position: absolute;
    top: calc($navigation-height-desktop + (2 * $padding));
    right: calc(2 * $padding);
    padding: $padding;
    z-index: 10;
    width: 15%;
    gap: $gap !important;
}

@media (width <= 1750px) {
    .user-details-container {
        width: 25%;
    }
}
