// TODO: remove 

@use "@/styles" as *;

.form-style {
    text-align: center;
    width: 500px;
    border: 3px solid $border;
    border-radius: 15px;
    padding: 20px;
    font-size: 2rem;
    color: $text;
    background-color: $background;

    &:focus {
        background-color: $border;
    }
}
