
.div2FAStyle {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form2FAStyle {
    text-align: center;
    width: 500px;
    border: 3px solid #0F2854;
    border-radius: 15px;
    padding: 20px;
    font-size: 30px;
    font-family: "Arial";

    background-color: #4988C4;
    &:focus {
        background-color: #BDE8F5;
    }
}

.button2FAStyle {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: "Arial";
    background-color: #0F2854;
    color: #BDE8F5;
    border: 2px solid #4988C4;
    border-radius: 10px;
}