@use "@/styles" as *;

.zoomable-container {
    max-width: $content-width;
    flex: 1;
}

.cell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (width <= $mobile-width) {
    .zoomable-container {
        max-width: 100%;
        max-height: 100%;
    }
}
