// Those are taken directly from our figma. Make sure to keep them in sync.
$primary: #1F4B7A;
$secondary: #0F2854;
$border: #455D6C;
$background: #0A0A0A;
$background-lightened: #262626;
$text: #FFFFFF;
$text-darkened: #A7A7A7;
$danger: #FF3333;

$navigation-height-desktop: 50px;
$root-padding-width: 1.75rem;
$root-padding-height: 1rem;
$root-padding-width-mobile: 1rem;
$root-padding-height-mobile: 1rem;

$padding: 10px;
