// Those are taken directly from our figma. Make sure to keep them in sync.
$primary: #1F4B7A;
$secondary: #0F2854;
$border: #455D6C;
$background: #0A0A0A;
$background-lightened: #262626;
$text: #FFFFFF;
$text-darkened: #A7A7A7;
$danger: #FF3333;

$navigation-height-desktop: 75px;
$padding: 10px;
$border-size: 5px;
$transition-duration: 0.2s;
$transition: $transition-duration ease;
