@use "." as *;

.form-container {
    border: solid calc($border-size * 0.75) $secondary;
    border-radius: $border-radius;
    padding: $padding;
    gap: 1rem !important;

    &.secondary {
        background-color: $background-lightened;
    }
}
