// TODO: check if all those variables are actually used.
$background: #0A0A0A;
$background-darkened: #1C4D8D;
$topbar: #262626;
$topbar-title: #ffffff;
$text: #ffffff;
$dark-text: #A7A7A7;
$border: #0F2854;
$input-border: #455D6C;
$border-active: #ffffff;
