// TODO: check if all those variables are actually used.
$background: #464646;
$topbar: #262626;
$topbar-title: #ffffff;
$text: #ffffff;
$dark-text: #4988C4;
$border: #0F2854;
$background: #4988C4;
$background-darkened: #1C4D8D;
