@use "." as *;

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10;
}

.backgroundImage {
    width: 100vw;
    height: auto;
    opacity: 0.7;
}

// .text {
//     color: constants.$text;
// }
