@use "./constants.module.scss" as constants;

body {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-sora);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: constants.$background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10;
}

.text {
    color: constants.$text;
}
