@use "./constants.module.scss" as constants;

body {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Tymczasowo odpowienia czcionka - jestem jej fanem <3 */
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 3.5rem;
    background-color: #1C4D8D; 
    z-index: 1;

    .title {
        height:100%;
        width:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6%;
        font-size: large;
        background-color: #0F2854;
        padding: 0 2rem;
        color: #4988C4;
    }

    li {
        list-style: none;
        padding-left: 40%;

        a {
            padding: 0 2rem;
            text-decoration: none;
            color: #BDE8F5;
            transition: 0.3s;

            &:hover {
                color: #4988C4;
            }
        }
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        background-color: #0F2854;
        width: 7rem;
        height: 3.5rem;
        color: #BDE8F5;
        text-decoration: none;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: constants.$background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10;
}

.text {
    color: constants.$text;
}
