@use "." as *;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: $navigation-height-desktop;
    width: 100%;
    z-index: 20;
    background-color: $background-lightened;
}

.navigation-margin {
    height: $navigation-height-desktop;
}

.content-container {
    min-height: calc(100vh - $navigation-height-desktop);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $padding;
}

.content-wrapper {
    width: $content-width;
}

@media (width <= $mobile-width) {
    .navigation {
        height: $navigation-height-mobile;
    }

    .navigation-margin {
        height: $navigation-height-mobile;
    }

    .content-wrapper {
        width: calc(100vw - 2 * $padding);
    }
}
