@use "." as *;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: $navigation-height-desktop;
    width: 100%;
    z-index: 1;
    background-color: $background-lightened;
}

.navigation-margin {
    height: $navigation-height-desktop;
}

.content-container {
    min-height: calc(100vh - $navigation-height-desktop);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $padding;
}

.content-wrapper {
    width: $content-width;
}
