@use "." as *;

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    background-color: $background-lightened;
    border: solid $border-size $border;
    border-radius: $border-radius;
}
