@use "@/styles" as *;

.container {
    max-width: calc($content-width / 2);
    min-width: 0;
    width: fit-content;
    gap: 2rem !important;
}

@media (width <= $mobile-width) {
    .container {
        gap: 1rem !important;
    }
}
