@use "@/styles" as *;

.toast {
    --toastify-color-progress-light: #{$primary};
    --toastify-color-progress-bgo: 0.5;
    --toastify-text-color-light: #{$text};

    background-color: $background-lightened;
    border-radius: $border-radius;
    width: 25rem;
    display: flex;
    gap: 0.5rem;
    padding: $padding;
}

.close {
    cursor: pointer;
    transition: color $transition;

    &:hover {
        color: $text-darkened;
    }
}

.container {
    --toastify-z-index: 3;

    top: calc($navigation-height-desktop + $padding);
    right: $padding;
}

@media (max-width: $mobile-width) {
    .container {
        width: calc(100vw - $padding * 2);
        top: calc($navigation-height-mobile + $padding);
    }

    .toast {
        max-width: calc(100vw - $padding * 2);
        left: $padding;
    }
}
