@use "@/styles" as *;

$input-border-size: calc($border-size / 1.5);

.input {
    border: solid $input-border-size $border;
    background-color: transparent;
    color: $text;
    border-radius: $border-radius;
    transition: all $transition;

    &:focus {
        outline: none;
        border: solid $input-border-size $primary;
    }

    &.danger {
        border: solid $input-border-size $danger;
    }

    &:disabled {
        border: solid $input-border-size $text-darkened;
        cursor: not-allowed;
    }
}
