@use "@/styles" as *;

.separator {
    color: $border;
    background-color: $border;
    border: solid 1px $border;

    &.secondary {
        color: $text-darkened;
        background-color: $text-darkened;
        border-color: $text-darkened;
    }
}

.vertical {
    min-height: 100%;
}

.horizontal {
    min-width: 100%;
}
