@use "@/styles/constants.module.scss" as constants;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-style {
    width: 15rem;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: constants.$dark-text;
    background-color: transparent;
    border: constants.$border 2px solid;
    margin-bottom: 1.2rem;
    transition: 0.2s;

    &:active {
        border: constants.$border-active 2px solid;
        color: constants.$text;
    }

    &:hover {
        border: constants.$border-active 2px solid;
    }
}

.button-style {
    margin-top: 10px;
    width: 10rem;
    height: 50px;
    font-size: 1.25rem;
    color: constants.$text;
    background-color: transparent;
    border: 3px solid constants.$border;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
        color: constants.$dark-text;
    }
}