@use "@/styles" as *;

.wrapper {
    animation: spin-animation 1s linear infinite;
    position: relative;

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.background {
    border: solid $background-lightened;
}

.primary {
    border: solid $primary;
    clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
}

@keyframes spin-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
