@use "@/styles" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-style {
    text-align: center;
    width: 500px;
    border: 3px solid constants.$border;
    border-radius: 15px;
    padding: 20px;
    font-size: 2rem;
    color: constants.$text;
    background-color: constants.$background-darkened;

    &:focus {
        background-color: constants.$border;
    }
}
