@use "@/styles" as *;

.overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    border: solid $border-size $border;
    border-radius: $border-radius;
}
