@use "@/styles" as *;

.container {
    background-color: $background-lightened;
    border: solid calc($border-size * 0.75) $border;
    border-radius: $border-radius;
    padding: $padding;
    transition: all $transition;
}

.clickable:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px $border;
}
