@use "./constants.module.scss" as *;

.button {
  font-family: var(--font-sora), monospace;

  padding: 12px 16px;
  color: #ffffff;

  text-decoration: none;
  border-radius: 3px;

  box-shadow:
    0 0 0 2px #000,
    4px 4px 0 0 #000;

  transition: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.375);
  }

  &:active {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 2px #000;
  }
}

.primary {
  background: linear-gradient(
    90deg,
    constants.$button-primary 0%,
    constants.$button-primaryDark 100%
  );
  background-size: 200% 100%;
  background-position: left center;

  transition: background-position 0.3s steps(2);

  &:hover {
    background-position: right center;
  }
}

