@use "@/styles/constants.module.scss" as constants;

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 3.5rem;
    background-color: constants.$topbar; 
    z-index: 1;

    .title {
        height:100%;
        width:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6%;
        font-size: large;
        background-color: constants.$topbar-title;
        padding: 0 2rem;
        color: constants.$dark-text;
    }

    li {
        list-style: none;
        padding-left: 40%;

        a {
            padding: 0 2rem;
            text-decoration: none;
            color: constants.$text;
            transition: 0.3s;

            &:hover {
                color: constants.$dark-text;
            }
        }
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        background-color: #0F2854;
        width: 7rem;
        height: 3.5rem;
        color: #BDE8F5;
        text-decoration: none;
    }
}