services:
  postgres:
    image: postgres:17
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: <database-user>
      POSTGRES_PASSWORD: <database-password>
      POSTGRES_DB: db
    volumes:
      - postgres-storage:/var/lib/postgresql/data

  adminer:
    image: michalhosna/adminer:4.8.1-en_v1
    restart: always
    ports:
      - "3001:8080"
    environment:
      ADMINER_DRIVER: pgsql
      ADMINER_SERVER: postgres
      ADMINER_DB: db
    links: 
      - postgres:postgres
    depends_on:
      - postgres

  minio:
    image: minio/minio:RELEASE.2024-11-07T00-52-20Z.fips
    restart: always
    command: server /data --console-address ":9001"
    ports:
      - "3002:9000"
      - "3003:9001"
    environment:
      MINIO_ROOT_USER: <file-storage-user>
      MINIO_ROOT_PASSWORD: <file-storage-password>
      MINIO_BROWSER_REDIRECT_URL: <file-storage-ui-url> # e.g.: https://volciaki.palubiak.eu/files-ui
      MINIO_SERVER_URL: <file-storage-server-endpoint> # e.g.: http://volciaki.palubiak.eu:3002
    volumes:
      - minio-storage:/data

  app:
    image: ghcr.io/volciaki/primus-inter-pares-2026:latest
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - minio
    links:
      - postgres:postgres
      - minio:minio
    environment:
      NODE_ENV: production
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USERNAME: <database-user>
      DATABASE_PASSWORD: <database-password>
      DATABASE_NAME: db
      AUTHENTICATION_SECRET: <secure-key-1>
      AUTHENTICATION_COOKIE_NAME: volciaki-authentication-cookie
      AUTHENTICATION_COOKIE_EXPIRES_IN: 12h
      MAIL_HOST: <mail-server> # e.g.: smtp.gmail.com
      MAIL_PORT: 465
      MAIL_SSL_ENABLED: 1
      MAIL_USER_NAME: <mail-user>
      MAIL_USER_PASSWORD: <mail-password>
      STORAGE_ACCESS_KEY: <file-storage-user>
      STORAGE_SECRET_KEY: <file-storage-password>
      STORAGE_ENDPOINT: minio
      STORAGE_PORT: 9000
      STORAGE_PUBLIC_URL: <file-storage-server-url> # e.g.: https://volciaki.palubiak.eu/files
      STORAGE_SSL_ENABLED: # e.g.: 1 - leave empty if communicating locally.
      SCHEDULE_AUTHENTICATION_PASSPHRASE: <secure-key-2>
      ENCRYPTION_KEY: <secure-key-3>

volumes:
  postgres-storage: ~
  minio-storage: ~
